@font-face {
    font-family: cheap-stealer;
    src: url('../fonts/RUSCheap-Stealer.ttf');
}

@media (min-width: 850px){
    .navbar-expand-custom {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
    }
    .navbar-expand-custom .navbar-nav {
        flex-direction: row;
    }
    .navbar-expand-custom .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .navbar-expand-custom .navbar-collapse {
        display: flex !important;
    }
    .navbar-expand-custom .navbar-toggler {
        display: none;
    }
}

body {
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 0 !important;
}

button:hover {
    transform: scale(1.05, 1.05);
    transition-duration: 250ms;
}

.navbar {
    background-color: white !important;
    box-shadow: 0 4px 4px -4px rgba(73, 73, 70, 0.6);
}

.navbar-nav {
    padding-left: 20px;
}

.navbar-brand {
    padding-right: 50px;
    color: #494946 !important;
    font-family: cheap-stealer, serif;
    font-size: 60px;
    text-transform: uppercase;
}

.nav-link {
    color: #585555;
    font-family: rubik, serif;
    font-size: 25px;
    text-transform: uppercase;
}

.container-fluid {
    padding-top: 100px;
    padding-left: 50px;
}

.container-fluid ul {
    list-style: none;
}

.container-fluid li {
    font-size: 18px;
}

.col-centered {
    display: flex;
    align-items: center;
}

.col-11 {
    margin-bottom: 30px;
    height: 850px;
    background: no-repeat center;
    background-size: cover;
    position: relative;
}

.text-block {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#splash .text-block {
    top: 30%;
}

#splash h1 {
    color: #494946;
    margin: 0;
    font-family: cheap-stealer, serif;
    font-size: 120px;
    text-transform: uppercase;
    transform:scale(1.5,1);
}

#splash p {
    color: #494946;
    margin: 0;
    font-family: rubik-light, serif;
    font-size: 18px;
    text-align: right;
    text-transform: uppercase;
}

#page1 .text-block, #page2 .text-block, #page3 .text-block, #page4 .text-block {
    width: 520px;
    padding: 60px;
    background-color: rgba(255, 255, 255, 0.9);
    top: 40%;
    left: 90%;
    transform: translate(-100%, -50%);
}

#page2 .text-block, #page4 .text-block {
    left: 10%;
    transform: translate(0%, -50%);
}

#page1 h1, #page2 h1, #page3 h1, #page4 h1 {
    color: #494946;
    margin-bottom: 40px;
    font-family: merriweather, serif;
    font-weight: bold;
    font-size: 55px;
    text-align: left;
    text-transform: uppercase;
}

#page1 p, #page2 p, #page3 p, #page4 p {
    margin-bottom: 40px;
    color: #494946;
    font-family: rubik, serif;
    font-size: 22px;
    font-weight: lighter;
    text-align: left;
}

#page1 button, #page2 button, #page3 button, #page4 button {
    height: 45px;
    color: white;
    background-color: #494946;
    font-family: rubik, serif;
    text-transform: uppercase;
    border: none;
    float: left;
}

#splash .col-11 {
    background-image: url("../img/1.jpg");
}

#page1 .col-11 {
    background-image: url("../img/2.jpg");
}

#page2 .col-11 {
    background-image: url("../img/3.jpg");
}

#page3 .col-11 {
    background-image: url("../img/4.jpg");
}

#page4 .col-11 {
    background-image: url("../img/5.jpg");
}

#copyright {
    padding-bottom: 10px;
    color: #585555;
    font-family: rubik, serif;
    font-size: 14px;
    font-weight: lighter;
    text-align: center;
    text-transform: uppercase;
}
